body {
  margin: auto 0;
}

.app {
  display: grid;
  gap: 15px;
  font-family: Inter, sans-serif;
  letter-spacing: 0em;
  text-align: left;
}

.pagination {
  margin: auto;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}