body {
  font-family: Inter, sans-serif;
  letter-spacing: 0em;
  text-align: left;
}

.films {
  margin: auto;
  padding: 20px;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.film {
  display: flex;
  width: 451px;
  height: 279px;
  box-shadow: 0px 4px 12px 0px #00000026;

}

.film__poster {
  margin: auto;
  width: 183px;
  height: 281px;
}

.film__overview {
  padding: 15px;
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  row-gap: 10px;
}

.film__genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.genres__genre {
  color: #000000A6;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 3px;
  background: #FAFAFA;
  border-radius: 5px;
  border: 1px solid #D9D9D9;

}

.film__title {
 font-size: 20px;
 line-height: 28px;

}

.film__description {
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
}

.film__card {
  height: 50vh;
  width: 50vw;
}
