.films {
    margin: auto;
    padding: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    font-family: Inter, sans-serif;
  }

  @media only screen and (max-width: 1024px) {
    .films {
      grid-template-columns: 1fr;
      row-gap: 20px;
      width: fit-content;
    }
  }