.film {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 4px 12px 0px #00000026;
}

.film__poster {
  width: 183px;
  height: 281px;
  margin: auto 0;
}

.film__overview {
  padding: 15px;
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  row-gap: 10px;
}

.film__stars {
  margin: 0 auto 10px auto;
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.film__genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.genres__genre {
  color: #000000a6;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 3px;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.film__rate-tab {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 3px;
}

.film__title {
  font-size: 20px;
  line-height: 28px;
}

.film__rating {
  position: relative;
  top: -5px;
  left: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
}

.film__rating--bad {
  border: 2px solid #E90000;
}

.film__rating--mid {
  border: 2px solid #E97E00;
}

.film__rating--good {
  border: 2px solid #E9D100;

}

.film__rating--great {
  border: 2px solid #66E900;

}

.film__description {
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
  height: 60px;
}

.film__description__extended {
  display: inline-flex;
  cursor: pointer;
  height: initial;
  overflow: initial;
}

.film__card {
  height: 50vh;
  width: 50vw;
}

@media only screen and (max-width: 500px) {
  .film__poster {
    margin: auto 0;
    width: 122px;
    height: 187px;
  }

  .film__description {
    height: 44px;
  }
}